In [77]:
import pandas as pd

In [78]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('Data files/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('Data files/u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [79]:
ratings["rating"]=ratings["rating"]-3
#ratings

In [114]:
#userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values=['rating'])
#userRatings.head(10)
#userRatings
Mean_Count=int(userRatings.count(axis=1).mean())

In [81]:
#from sklearn.preprocessing import StandardScaler
import numpy as np
for i in range(0,len(userRatings.index)):
    userRatings.loc[userRatings.index[i]]=(userRatings.loc[userRatings.index[i]]-np.mean(userRatings.loc[userRatings.index[i]]))/np.std(userRatings.loc[userRatings.index[i]])

In [122]:
#userRatings.loc[0].count()
Mean_Count

105

In [125]:
np.random.seed(0)
x = []
while(len(x)<10):
    y = np.random.randint(0,len(userRatings.index)-1)
    if(userRatings.loc[y].count()>Mean_Count):
        x.append(y)
    
test_set = userRatings.loc[x]
for i in range(0,len(x)):
    train_set = userRatings[userRatings.index!=x[i]]

In [83]:
#corrMatrix = userRatings.corr()
#corrMatrix.head()

In [126]:
corrMatrix = train_set.corr(method='pearson', min_periods=50)
corrMatrix.head()

                                                    rating               \
title                            'Til There Was You (1997) 1-900 (1994)
       title
rating 'Til There Was You (1997)                       NaN          NaN
       1-900 (1994)                                    NaN          NaN
       101 Dalmatians (1996)                           NaN          NaN
       12 Angry Men (1957)                             NaN          NaN
       187 (1997)                                      NaN          NaN

                                                                            \
title                            101 Dalmatians (1996) 12 Angry Men (1957)
       title
rating 'Til There Was You (1997)                   NaN                 NaN
       1-900 (1994)                                NaN                 NaN
       101 Dalmatians (1996)                       1.0                 NaN
       12 Angry Men (1957)                         NaN                 1.0
       187 (1997)                                  NaN                 NaN

                                                                         \
title                            187 (1997) 2 Days in the Valley (1996)
       title
rating 'Til There Was You (1997)        NaN                         NaN
       1-900 (1994)                     NaN                         NaN
       101 Dalmatians (1996)            NaN                         NaN
       12 Angry Men (1957)              NaN                         NaN
       187 (1997)                       NaN                         NaN

                                                                      \
title                            20,000 Leagues Under the Sea (1954)
       title
rating 'Til There Was You (1997)                                 NaN
       1-900 (1994)                                              NaN
       101 Dalmatians (1996)                                     NaN
       12 Angry Men (1957)                                       NaN
       187 (1997)                                                NaN

                                                               \
title                            2001: A Space Odyssey (1968)
       title
rating 'Til There Was You (1997)                          NaN
       1-900 (1994)                                       NaN
       101 Dalmatians (1996)                              NaN
       12 Angry Men (1957)                           0.178848
       187 (1997)                                         NaN

                                                                              \
title                            3 Ninjas: High Noon At Mega Mountain (1998)
       title
rating 'Til There Was You (1997)                                         NaN
       1-900 (1994)                                                      NaN
       101 Dalmatians (1996)                                             NaN
       12 Angry Men (1957)                                               NaN
       187 (1997)                                                        NaN

                                                       ...                     \
title                            39 Steps, The (1935)  ... Yankee Zulu (1994)
       title                                           ...
rating 'Til There Was You (1997)                  NaN  ...                NaN
       1-900 (1994)                               NaN  ...                NaN
       101 Dalmatians (1996)                      NaN  ...                NaN
       12 Angry Men (1957)                        NaN  ...                NaN
       187 (1997)                                 NaN  ...                NaN

                                                                               \
title                            Year of the Horse (1997) You So Crazy (1994)
       title
rating 'Til There Was You (1997)                      NaN                 NaN
       1-900 (1994)                                   NaN                 NaN
       101 Dalmatians (1996)                          NaN                 NaN
       12 Angry Men (1957)                            NaN                 NaN
       187 (1997)                                     NaN                 NaN

                                                                              \
title                            Young Frankenstein (1974) Young Guns (1988)
       title
rating 'Til There Was You (1997)                       NaN               NaN
       1-900 (1994)                                    NaN               NaN
       101 Dalmatians (1996)                           NaN               NaN
       12 Angry Men (1957)                        0.096546               NaN
       187 (1997)                                      NaN               NaN

                                                       \
title                            Young Guns II (1990)
       title
rating 'Til There Was You (1997)                  NaN
       1-900 (1994)                               NaN
       101 Dalmatians (1996)                      NaN
       12 Angry Men (1957)                        NaN
       187 (1997)                                 NaN

                                                                        \
title                            Young Poisoner's Handbook, The (1995)
       title
rating 'Til There Was You (1997)                                   NaN
       1-900 (1994)                                                NaN
       101 Dalmatians (1996)                                       NaN
       12 Angry Men (1957)                                         NaN
       187 (1997)                                                  NaN

                                                                  \
title                            Zeus and Roxanne (1997) unknown
       title
rating 'Til There Was You (1997)                     NaN     NaN
       1-900 (1994)                                  NaN     NaN
       101 Dalmatians (1996)                         NaN     NaN
       12 Angry Men (1957)                           NaN     NaN
       187 (1997)                                    NaN     NaN


title                            Á köldum klaka (Cold Fever) (1994)
       title
rating 'Til There Was You (1997)                                NaN
       1-900 (1994)                                             NaN
       101 Dalmatians (1996)                                    NaN
       12 Angry Men (1957)                                      NaN
       187 (1997)                                               NaN

[5 rows x 1664 columns]

In [127]:
corrMatrix=corrMatrix.droplevel(level=0,axis=1)
corrMatrix=corrMatrix.droplevel(level=0,axis=0)
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.178848,NaN,NaN,...,NaN,NaN,NaN,0.096546,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
#myRatings = userRatings.loc[0].dropna()
#myRatings=myRatings.droplevel(level=0,axis=0)

In [87]:
#test_set[test_set.index[1]]
#test_user = test_set.loc[test_set.index[0]].dropna()
#test_user.droplevel(level=0,axis=0)
#test_user.index[0][1]

In [130]:

for j in range(0,len(test_set.index)):
    test_user = test_set.loc[test_set.index[j]].dropna()
    print("Adding Reommendations for User "+str(test_set.index[j])+"...")
    simCandidates = pd.Series()
    for i in range(0,len(test_user.index)):
        #print ("Adding sims for " + test_user.index[i] + "...")
        sims = corrMatrix[test_user.index[i][1]].dropna()
        sims = sims*test_user[test_user.index[i]]
        simCandidates = simCandidates.append(sims)
    print ("sorting...")
    simCandidates = simCandidates.groupby(level=0).sum()
    simCandidates.sort_values(inplace = True, ascending = False)
    print (simCandidates)

Adding Reommendations for User 629...

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

sorting...
Butch Cassidy and the Sundance Kid (1969)       29.328687
Back to the Future (1985)                       28.121866
Stand by Me (1986)                              27.365463
Raiders of the Lost Ark (1981)                  27.273309
E.T. the Extra-Terrestrial (1982)               26.872648
                                                  ...
Jack (1996)                                     -0.556333
Grand Day Out, A (1992)                         -0.562236
Fan, The (1996)                                 -0.623226
Preacher's Wife, The (1996)                     -0.797522
Rosencrantz and Guildenstern Are Dead (1990)    -1.175511
Length: 564, dtype: float64
Adding Reommendations for User 763...
sorting...
Butch Cassidy and the Sundance Kid (1969)    16.666685
Monty Python and the Holy Grail (1974)       15.972932
Amadeus (1984)                               15.849481
Chinatown (1974)                             15.580513
Raiders of the Lost Ark (1981)               15.255316
                                               ...
Fan, The (1996)                              -0.474431
Preacher's Wife, The (1996)                  -0.585983
How to Make an American Quilt (1995)         -0.767028
George of the Jungle (1997)                  -0.890864
Sirens (1994)                                -0.917498
Length: 563, dtype: float64
Adding Reommendations for User 707...
sorting...
English Patient, The (1996)                      18.067147
Fargo (1996)                                     17.044247
Dead Man Walking (1995)                          17.040194
Amadeus (1984)                                   16.747784
Lone Star (1996)                                 14.788606
                                                   ...
Gattaca (1997)                                   -1.291113
One Fine Day (1996)                              -1.330027
Private Benjamin (1980)                          -1.411015
Star Trek VI: The Undiscovered Country (1991)    -1.474636
Volcano (1997)                                   -1.712805
Length: 555, dtype: float64
Adding Reommendations for User 804...
sorting...
Back to the Future (1985)               47.243275
Raiders of the Lost Ark (1981)          47.147690
Toy Story (1995)                        44.877231
Fugitive, The (1993)                    42.875432
Terminator 2: Judgment Day (1991)       42.579581
                                          ...
Money Talks (1997)                      -0.572489
How to Make an American Quilt (1995)    -0.739888
Barcelona (1994)                        -1.000000
Very Brady Sequel, A (1996)             -1.424214
Boogie Nights (1997)                    -2.895376
Length: 565, dtype: float64
Adding Reommendations for User 70...
sorting...
Raiders of the Lost Ark (1981)                  17.804798
E.T. the Extra-Terrestrial (1982)               17.091695
Empire Strikes Back, The (1980)                 16.182458
Firm, The (1993)                                15.915916
Toy Story (1995)                                15.774590
                                                  ...
How to Make an American Quilt (1995)            -0.679189
Pocahontas (1995)                               -1.000000
Boogie Nights (1997)                            -1.153287
Rosencrantz and Guildenstern Are Dead (1990)    -1.207083
Star Trek V: The Final Frontier (1989)          -1.456755
Length: 560, dtype: float64
Adding Reommendations for User 472...
sorting...
Independence Day (ID4) (1996)                   71.401492
Mission: Impossible (1996)                      68.463802
Back to the Future (1985)                       67.994319
Indiana Jones and the Last Crusade (1989)       66.323080
True Lies (1994)                                63.998982
                                                  ...
Very Brady Sequel, A (1996)                     -0.507929
My Life as a Dog (Mitt liv som hund) (1985)     -0.953005
How to Make an American Quilt (1995)            -0.982359
Rosencrantz and Guildenstern Are Dead (1990)    -2.130630
Boogie Nights (1997)                            -3.612202
Length: 563, dtype: float64
Adding Reommendations for User 314...
sorting...
Back to the Future (1985)          40.722508
Top Gun (1986)                     38.985187
Speed (1994)                       38.265908
Independence Day (ID4) (1996)      38.199476
Mission: Impossible (1996)         37.114083
                                     ...
Pulp Fiction (1994)                -3.297083
Welcome to the Dollhouse (1995)    -3.315177
Trainspotting (1996)               -5.362521
Clockwork Orange, A (1971)         -6.090732
Leaving Las Vegas (1995)           -9.171720
Length: 540, dtype: float64
Adding Reommendations for User 705...
sorting...
Independence Day (ID4) (1996)                                                  28.931412
Top Gun (1986)                                                                 27.321125
Rock, The (1996)                                                               27.039234
Speed (1994)                                                                   26.230819
Mission: Impossible (1996)                                                     25.548775
                                                                                 ...
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)    -3.599202
Trainspotting (1996)                                                           -4.315741
To Die For (1995)                                                              -4.316106
Leaving Las Vegas (1995)                                                       -4.825081
Clockwork Orange, A (1971)                                                     -5.642994
Length: 557, dtype: float64
Adding Reommendations for User 486...
sorting...
Fargo (1996)                          11.190805
Dead Man Walking (1995)               10.714418
Lone Star (1996)                      10.304616
Godfather, The (1972)                  9.401444
People vs. Larry Flynt, The (1996)     8.600732
                                        ...
Phenomenon (1996)                     -4.761629
Volcano (1997)                        -4.877878
Saint, The (1997)                     -5.095902
Conspiracy Theory (1997)              -5.330812
Independence Day (ID4) (1996)         -6.287622
Length: 560, dtype: float64
Adding Reommendations for User 551...
sorting...
Rock, The (1996)                                           57.106886
Fugitive, The (1993)                                       54.917988
Back to the Future (1985)                                  54.157479
Terminator 2: Judgment Day (1991)                          53.103777
Braveheart (1995)                                          52.954063
                                                             ...
Devil in a Blue Dress (1995)                               -0.774839
Wallace & Gromit: The Best of Aardman Animation (1996)     -0.836468
Ref, The (1994)                                            -0.974368
To Wong Foo, Thanks for Everything! Julie Newmar (1995)    -1.944236
Very Brady Sequel, A (1996)                                -2.850758
Length: 566, dtype: float64

In [131]:
simCandidates = pd.DataFrame(simCandidates,columns=["Score"])
simCandidates = simCandidates.groupby(simCandidates.index).sum()
#simCandidates.sort_index()
#simCandidates.index
simCandidates.sort_values(["Score"],inplace=True,ascending=False)

In [11]:
for i in range(0,len(myRatings.index)):
        simCandidates = simCandidates[simCandidates.index!= myRatings.index[i]]

In [12]:
simCandidates.head()

                                              Score
Return of the Jedi (1983)                  7.178172
Raiders of the Lost Ark (1981)             5.519700
Indiana Jones and the Last Crusade (1989)  3.488028
Bridge on the River Kwai, The (1957)       3.366616
Back to the Future (1985)                  3.357941